.main-container {
	margin: 20px;
	padding: 20px;
	font-size: 16px;
	color: #2E2E2E;
}

.header {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	border: 1px solid #D8D8D8;
	border-radius: 10px 10px 0 0;
}

.header .tab {
	margin: 20px 0 20px 20px;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

.header .tab.active {
	border: 1px solid #D8D8D8;
	border-radius: 15px;
	font-weight: bold;
}

.content {
	width: 1200px;
	height: 650px;
	margin: 0 auto;
	border-top: 0;
	border-bottom: 1px solid #D8D8D8;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	border-radius: 0 0 10px 10px;
}

.content .content-section,
.content .content-head-section {
	display: none;
}

.content .content-head-section.active,
.content .content-section.active {
	display: block;
}

.content .content-head {
	width: 90%;
	padding: 10px 60px 0 60px;
	display: inline-block;
	text-align: center;
}

.content .code-textarea {
	margin-top: 20px;
	margin-left: 22px;
	padding: 0;
	width: 560px;
	height: 550px;
	display: inline-block;
	border: 1px solid #D8D8D8;
}

.content .code-textarea textarea {
	width: 96%;
	height: 96%;
	padding: 10px;
	border: 0;
	resize: none;
	overflow: auto;
	white-space: nowrap;
	font-size: 14px;
	font-family: Console;
	outline: none;
}

.content .string-textarea {
	width: 1000px;
	height: 230px;
	border: 1px solid #D8D8D8;
	margin: 30px auto;
}

.content .string-textarea textarea {
	width: 990px;
	height: 190px;
	border: 0;
	margin: 0 auto;
	padding: 5px;
	outline: none;
	resize: none;
	font-size: 14px;
	font-family: Console;
}

.btn {
	margin: 10px;
	padding: 5px;
	height: 20px;
	border-radius: 5px;
	background-color: #E6E6E6;
	display: inline-block;
	cursor: pointer;
}

.footer {
	width: 1200px;
	margin: 10px auto;
	text-align: center;
}